@using cloudscribe.Web.Pagination
@using PagingDemo.Web.ViewModels
@using PagingDemo.Web.Models

@model ProductListViewModel
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products.Data)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Category</td>
            </tr>}
    </tbody>
</table>
<div>
    <cs-pager cs-paging-pagesize="@Model.Products.PageSize"
              cs-paging-pagenumber="@Model.Products.PageNumber"
              cs-paging-totalitems="@Model.Products.TotalItems"
              cs-pagenumber-param="page"
              cs-ajax-target="#gridcontainer"
              cs-ajax-loading="#loadingIndicator"
              cs-ajax-loading-duration="10"
              cs-ajax-success="PagerRequestSuccess"
              cs-ajax-failure="PagerRequestFailure"
              asp-controller="Paging"
              asp-action="AjaxPage"
              asp-route-pagesize="@Model.Products.PageSize"></cs-pager>
</div>
