@using cloudscribe.Web.Pagination
@using PagingDemo.Web.ViewModels
@using PagingDemo.Web.Models

@model ProductListViewModel
@{
    ViewBag.Title = "Browse all products with Model";
}
<h2>@ViewBag.Title</h2>
<p>
    <a class="btn btn-xs btn-default" 
       asp-action="IndexAjax" asp-controller="Paging"
       bs-modal-link="true">Ajax Modal</a>
</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products.Data)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Category</td>
            </tr>}
    </tbody>
</table>
<div>
    <cs-pager cs-paging-pagesize="@Model.Products.PageSize"
              cs-paging-pagenumber="@Model.Products.PageNumber"
              cs-paging-totalitems="@Model.Products.TotalItems"
              cs-pagenumber-param="p"
              cs-show-first-last="true"
              cs-suppress-empty-nextprev="true"
              cs-remove-nextprev-links="false"
              cs-suppress-inactive-firstlast="true"
              cs-first-page-text="First"
              cs-last-page-text="Last"
              cs-pager-li-current-class="active"
              cs-pager-li-non-active-class="disabled"
              asp-route="pagingdemo1"
              asp-controller="Paging"
              asp-action="Index" cs-preserve-ambient-querystring="false"></cs-pager>

    
</div>

<div>
    <p> this one automatic generate url from your current Action and Controller </p>
    <cs-pager cs-paging-pagesize="@Model.Products.PageSize"
              cs-paging-pagenumber="@Model.Products.PageNumber"
              cs-paging-totalitems="@Model.Products.TotalItems"
              cs-pagenumber-param="p"></cs-pager>
</div>

@section Scripts {

<script type="text/javascript">

        function PagerRequestSuccess(data) {
            //console.log("This is the OnSuccessCallback: " + data);
            console.log("This is the OnSuccessCallback");
        }
        function PagerRequestFailure(request, error) {
            console.log("This is the OnFailure Callback:" + error);
        }

</script>


    <environment names="Development">
        <script src="~/js/jquery.unobtrusive-ajax.js"></script>
        <script src="~/jsdev/cloudscribe-modaldialog-bootstrap.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/jsdev/cloudscribe-modaldialog-bootstrap.js"></script>
    </environment>


}
