@using cloudscribe.Web.Pagination
@using PagingDemo.Web.ViewModels
@using PagingDemo.Web.Models

@model ProductListViewModel
@{
    ViewBag.Title = "Browse products by category";
}
<h2>@ViewBag.Title</h2>

<form class="form-inline" role="form" asp-controller="Paging" asp-action="ViewByCategory" method="get" asp-antiforgery="false">
            
        Select a category:
        @Html.DropDownList("categoryName",null, new { @class = "form-control" } )
        <button type="submit" class="btn btn-default">Browse</button>   
</form>
       
 
    @if (Model.Products.Data.Count > 0)
    {
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Product name</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products.Data)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Category</td>
                    </tr>}
            </tbody>
        </table>
        <div>
            <cs-pager cs-paging-pagesize="@Model.Products.PageSize"
                      cs-paging-pagenumber="@Model.Products.PageNumber"
                      cs-paging-totalitems="@Model.Products.TotalItems"
                      cs-pagenumber-param="page"
                      asp-controller="Paging"
                      asp-action="ViewByCategory"
                      asp-route-categoryname="@ViewBag.CategoryDisplayName"
                      asp-route-pagesize="@Model.Products.PageSize"></cs-pager>

        </div>
        

    }
